.middle-box.text-center.loginscreen.animated.fadeInDown
  = devise_error_messages!
  %div
    / %div
    /   %h1.logo-name IN+
    %h3= t(".resend_confirmation_instructions")
    %p Please Enter your email to receive confirmaton instrucitons.
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'm-t' }) do |f|
      = f.error_notification
      .form-group
        = f.input :email, required: true, placeholder: "Email", label: false, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), input_html: { autocomplete: "email", class: 'form-control' }

      = f.button :submit, I18n.t("devise.confirmations.new.resend_confirmation_instructions"), class: 'btn btn-primary block full-width m-b'
      = render "users/shared/links"
