-# frozen_string_literal: true
= simple_form_for([:admins, @vehicle], wrapper: :horizontal_form,  html: { novalidate: false, class: 'form-horizontal needs-validation form-group' }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :model_type, as: :radio_buttons, collection: Vehicle::TYPES.zip(Vehicle::TYPES), label_method: :second, value_method: :first, input_html: { class: '' }
    .row
      .col-xs-12.col-md-6
        = f.association :customer, input_html: { class: 'select2' }
        = f.association :car_model, input_html: { class: 'select2' }
        = f.input :registration_number, label: 'Registration#'
      .col-xs-12.col-md-6
        = f.input :model_year
        = f.input :vin
        = f.input :fuel_level
    .row
      .col-xs-12.col-md-6
        = f.input :color
        = f.input :technician
        = f.input :nogears
      .col-xs-12.col-md-6
        = f.input :key_number
        = f.input :enginesize
        = f.input :engine_number
    .row
      .col-xs-12.col-md-6
        = f.input :gearbox_number
        = f.input :odometerreading
        = f.input :price
      .col-xs-12.col-md-6
        = f.input :registration_date, as: :date_time_picker, input_html: { class: '' }
        = f.input :alert_date, as: :date_time_picker, input_html: { class: '' }

  .form-group.row
    .col-sm-4.col-sm-offset-2
      %button.btn.btn-white.btn-sm{type: "submit"} Cancel
      = f.button :submit, class: 'btn btn-primary btn-sm'
