.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5
            Editing vehicle
            %small update a vehicle.
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.close-link
              %i.fa.fa-times
          .hr-line-dashed
        .ibox-content
          = render 'form'

          = link_to 'Show', admins_vehicle_path(@vehicle)
          \|
          = link_to 'Back', admins_vehicles_path
