.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Listing vehicles
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.close-link
              %i.fa.fa-times
          = link_to new_admins_vehicle_path, class: 'btn btn-primary btn-outline' do
            %i.fa.fa-plus
            New vehicles
        .ibox-content
          .table-responsive
            %table.table.table-striped.table-bordered.table-hover.dataTables-users
              %thead
                %tr
                  %th Customer
                  %th Car model
                  %th Registration number
                  %th Model year
                  %th Model type
                  %th Nogears
                  %th Key number
                  %th Enginesize
                  %th Engine number
                  %th Gearbox number
                  %th Odometerreading
                  %th Price
                  %th
                  %th
                  %th

              %tbody
                - @vehicles.each do |vehicle|
                  %tr
                    %td= vehicle.customer.name
                    %td= vehicle.car_model.name
                    %td= vehicle.registration_number
                    %td= vehicle.model_year
                    %td= vehicle.model_type
                    %td= vehicle.nogears
                    %td= vehicle.key_number
                    %td= vehicle.enginesize
                    %td= vehicle.engine_number
                    %td= vehicle.gearbox_number
                    %td= vehicle.odometerreading
                    %td= vehicle.price
                    %td= link_to 'Show', admins_vehicle_path(vehicle)
                    %td= link_to 'Edit', edit_admins_vehicle_path(vehicle)
                    %td= link_to 'Destroy', admins_vehicle_path(vehicle), method: :delete, data: { confirm: 'Are you sure?' }

