.wrapper.wrapper-content.animated.fadeInRight
  .row.m-b-lg.m-t-lg
    .col-md-6
      .profile-image
        = image_tag 'garage.png', class: 'rounded-circle circle-border m-b-md'
      .profile-info
        %div
          %div
            %h2.no-margins
              = @vehicle.car_model.name
              = @vehicle.car_model.version
            %h4 Founder of Groupeq
            %small
              There are many variations of passages of Lorem Ipsum available, but the majority
              have suffered alteration in some form Ipsum available.
    .col-md-12
      %p
        %b Customer:
        = @vehicle.customer.name
      %p
        %b Car model:
        = @vehicle.car_model.name
      %p
        %b Model year:
        = @vehicle.model_year
      %p
        %b Model type:
        = @vehicle.model_type
      %p
        %b Registration number:
        = @vehicle.registration_number
      %p
        %b Nogears:
        = @vehicle.nogears
      %p
        %b Key number:
        = @vehicle.key_number
      %p
        %b Enginesize:
        = @vehicle.enginesize
      %p
        %b Engine number:
        = @vehicle.engine_number
      %p
        %b Gearbox number:
        = @vehicle.gearbox_number
      %p
        %b Odometerreading:
        = @vehicle.odometerreading
      %p
        %b Price:
        = @vehicle.price

      = link_to 'Edit', edit_admins_vehicle_path(@vehicle)
      \|
      = link_to 'Back', admins_vehicles_path
