= simple_form_for @user, as: resource_name, url: invitation_path(resource_name), wrapper: :horizontal_form,  html: { novalidate: false, method: :post, class: 'form-horizontal needs-validation form-group' } do |f|
  =# devise_error_messages!
  = f.input :skip_password_validation, as: :hidden, input_html: { value: true }
  = f.input :skip_en_name_validation, as: :hidden, input_html: { value: true }
  .row
    .col-xs-12.col-md-6
      = f.input :family_name_kh, autofocus: true, label: t('.family_name_kh')
    .col-xs-12.col-md-6
      = f.input :given_name_kh, label: t('.given_name_kh'), class: 'form-control'
    .col-xs-12.col-md-6
      = f.input :family_name, label: t('.family_name')
    .col-xs-12.col-md-6
      = f.input :given_name, label: t('.given_name')
    .col-xs-12.col-md-6
      = f.input :email, label: t('.email')
    .col-xs-12.col-md-6
      = f.input :role, collection: User::ROLES.map{ |role| [role.titleize, role] }, required: true, label: t('.role')
    .col-xs-12.col-md-6
      = f.input :title, label: t('.title')
    .col-xs-12.col-md-6
      = f.input :phone_number, label: t('.phone')
    .col-xs-12.col-md-6
      =# f.association :organization, label: t('.organization')
  .hr-line-dashed
  .form-group.row
    .col-sm-4.col-sm-offset-2
      %button.btn.btn-white.btn-sm{:type => "submit"} Cancel
      = f.button :submit, t("devise.invitations.new.submit_button"), class: 'btn btn-primary btn-sm'

