.middle-box.text-center.loginscreen.animated.fadeInDown
  = devise_error_messages!
  %div
    / %div
    /   %h1.logo-name IN+
    %h3 Welcome to Attendant Management
    %p
      Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      / Continually expanded and constantly improved Inspinia Admin Them (IN+)
    %p Login in. To see it in action.
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post, class: 'm-t' }) do |f|
      .form-group
        = f.input :email, label: false, autofocus: true, :placeholder => "Username", input_html: { class: 'form-control' }
      .form-group
        = f.input :password, label: false, :placeholder => "Password", input_html: { class: 'form-control' }
      = f.button :submit, t(".sign_in"), class: 'btn btn-primary block full-width m-b'
      .form-group
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      = render "devise/shared/links"
    %p.m-t
      %small School Attendant System is built for managing the Student Activities. @2019
