-# frozen_string_literal: true
= simple_form_for([:admins, @car_model], wrapper: :horizontal_form,  html: { novalidate: false, class: 'form-horizontal needs-validation form-group' }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :version
    = f.input :parent_id, collection: CarModel.only_parents.map{ |car_model| [car_model.name.titleize, car_model.id] }, input_html: { class: 'select2' }

  .form-group.row
    .col-sm-4.col-sm-offset-2
      %button.btn.btn-white.btn-sm{:type => "submit"} Cancel
      = f.button :submit, class: 'btn btn-primary btn-sm'
