.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5
            Editing car model
            %small update a car model.
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.close-link
              %i.fa.fa-times
          .hr-line-dashed
        .ibox-content
          = render 'form'

          = link_to 'Show', admins_car_model_path(@car_model)
          \|
          = link_to 'Back', admins_car_models_path
