.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Listing cars' models
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.close-link
              %i.fa.fa-times
          = link_to new_admins_car_model_path, class: 'btn btn-primary btn-outline' do
            %i.fa.fa-plus
            New Model
        .ibox-content
          .table-responsive
            %table.table.table-striped.table-bordered.table-hover.dataTables-users
              %thead
                %tr
                  %th Name
                  %th Version
                  %th Model
                  %th
                  %th
                  %th

              %tbody
                - @car_models.each do |car_model|
                  %tr
                    %td= car_model.name
                    %td= car_model.version
                    %td= car_model.parent_id
                    %td= link_to 'Show', admins_car_model_path(car_model)
                    %td= link_to 'Edit', edit_admins_car_model_path(car_model)
                    %td= link_to 'Destroy', admins_car_model_path(car_model), method: :delete, data: { confirm: 'Are you sure?' }

