.wrapper.wrapper-content.animated.fadeInRight
  .row.m-b-lg.m-t-lg
    .col-md-6
      .profile-image
        = image_tag 'garage.png', class: 'rounded-circle circle-border m-b-md'
      .profile-info
        %div
          %div
            %h2.no-margins
              = @car_model.name
            %h4 Founder of Groupeq
            %small
              There are many variations of passages of Lorem Ipsum available, but the majority
              have suffered alteration in some form Ipsum available.
    .col-md-12
      %p
        %b Version:
        = @car_model.version
      %p
        %b Parent:
        = @car_model.parent_id

      = link_to 'Edit', edit_admins_car_model_path(@car_model)
      \|
      = link_to 'Back', admins_car_models_path

