#form-customer.modal.inmodal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4.modal-title Create new customer
        %small.font-bold Customer will be automatically selected after you created.
      = simple_form_for([:admins, Customer.new], wrapper: :horizontal_form, html: { data: { url: admins_customers_path(format: :json), type: :json }, class: 'form-horizontal needs-validation form-group' }) do |f|
        .modal-body
          .form-inputs
            .row
              .col-xs-12.col-md-6
                = f.input :name, html5: true, required: 'required'
                = f.input :compay
                = f.input :address
              .col-xs-12.col-md-6
                = f.input :email
                = f.input :phone1, html5: true, required: 'required'
                = f.input :phone2
            .row
              .col-12

                %fieldset.card.card-body.bg-light.border.p-2
                  %legend.w-auto
                    %h4 Customer Vehicle Details
                  = f.simple_fields_for :vehicles, wrapper: :horizontal_form do |vf|
                    .row
                      .col-xs-12.col-md-6
                        = vf.hidden_field :customer_id, input_html: { class: 'select2' }
                        = vf.input :car_model_id, collection: CarModel.only_parents, as: :grouped_select, group_method: :children, required: 'required', input_html: { class: 'select2' }
                        = vf.input :registration_number, required: 'required', label: 'Registration#'
                        = vf.input :model_year
                      .col-xs-12.col-md-6
                        = vf.input :vin
                        = vf.input :fuel_level
                        = vf.input :color
                    .row
                      .col-xs-12.col-md-6
                        = vf.input :technician
                        = vf.input :nogears
                        = vf.input :key_number
                      .col-xs-12.col-md-6
                        = vf.input :enginesize
                        = vf.input :engine_number
                        = vf.input :gearbox_number
                    .row
                      .col-xs-12.col-md-6
                        = vf.input :odometerreading
                        = vf.input :price
                      .col-xs-12.col-md-6
                        = vf.input :registration_date, as: :date_time_picker, input_html: { class: '' }
                        = vf.input :alert_date, as: :date_time_picker, input_html: { class: '' }


        .modal-footer
          %button.btn.btn-white{"data-dismiss" => "modal", :type => "button"} Close
          = f.button :submit, class: 'btn btn-primary btn-sm', id: 'create-new-customer'
