-# frozen_string_literal: true
= simple_form_for([:admins, @invoice],  html: { novalidate: false, class: 'form-horizontal needs-validation form-group' }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .row
    .col-md-6
      %fieldset.card.card-body.bg-light.border.p-2
        %legend.w-auto
          %h4 Customer Vehicle Details
        = f.input :reference_number, readonly: true, input_html: { value: "#{Invoice.count + 1000}".rjust(7, '0') }
        .row.form-group
          .col-3
            = f.label :customer
          .col-6
            = f.association :customer, label: false, wrapper: false, input_html: { class: 'select2' }
          .col-3
            .text-center
              %button.btn.btn-primary{"data-target" => "#form-customer", "data-toggle" => "modal", :type => "button"}
                Add Customer
        .row.form-group
          %label.form-control-label.float.optional.col-sm-3 Comapany name:
          .col-sm-9
            = text_field_tag :compay, nil, class: 'form-control'
        .row.form-group
          %label.form-control-label.float.optional.col-sm-3 Email:
          .col-sm-9
            = text_field_tag :email, nil, class: 'form-control'
        .row.form-group
          %label.form-control-label.float.optional.col-sm-3 Phone1:
          .col-sm-9
            = text_field_tag :phone1, nil, class: 'form-control'
        .row.form-group
          %label.form-control-label.float.optional.col-sm-3 Phone2:
          .col-sm-9
            = text_field_tag :phone2, nil, class: 'form-control'
        .row.form-group
          %label.form-control-label.float.optional.col-sm-3 Address:
          .col-sm-9
            = text_field_tag :address, nil, class: 'form-control'
        %hr.hr-line-dashed/
        .row
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 Registration:
              .col-sm-9
                = text_field_tag :registration_number, nil, class: 'form-control'
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 Year:
              .col-sm-9
                = text_field_tag :model_year, nil, class: 'form-control'
        .row
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 Car Model:
              .col-sm-9
                = text_field_tag :model_id, nil, class: 'form-control'
          .col-6
            .row.form-group
              .col-sm-12
                = text_field_tag :model_year_info, nil, class: 'form-control'
        .row
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 VIN:
              .col-sm-9
                = text_field_tag :vin, nil, class: 'form-control'
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 Engine #:
              .col-sm-9
                = text_field_tag :engine_number, nil, class: 'form-control'
        .row
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 Fuel level:
              .col-sm-9
                = text_field_tag :fuel_level, nil, class: 'form-control'
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 Color:
              .col-sm-9
                = text_field_tag :color, nil, class: 'form-control'
        .row
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 Technician:
              .col-sm-9
                = text_field_tag :technician, nil, class: 'form-control'
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 Reg Date:
              .col-sm-9
                = text_field_tag :registration_date, nil, class: 'form-control'
        .row
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3 Odometer#:
              .col-sm-9
                = text_field_tag :odometerreading, nil, class: 'form-control'
          .col-6
            .row.form-group
              %label.form-control-label.float.optional.col-sm-3.text-success.font-weight-bold Reg Date:
              .col-sm-9
                = text_field_tag :alert_date, Date.today.strftime("%d/%m/%Y"), class: 'form-control'
        %hr.hr-line-dashed/
        .card.text-white.bg-warning
          .card-header Additional Repairment
          .card-body
            %h5.card-title Warning card title
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.


    .col-md-6
      .table-responsive.span3
        %h3.text-danger Products Quotation
        %table.table.table-striped.table-bordered.table-hover.dataTables-users
          %thead
            %tr
              %th Code
              %th Name EN
              %th Name KH
              %th QTY
              %th Price
              %th Total
              %th Orin Price


          %tbody
            %tr
              %td
              %td
              %td
              %td
              %td
              %td
              %td
      %hr.hr-line-dashed/
      .table-responsive.span3
        %h3.text-success Repairment / Service list
        %table.table.table-striped.table-bordered.table-hover.dataTables-users
          %thead
            %tr
              %th Code
              %th Name EN
              %th Name KH
              %th QTY
              %th Price
              %th Total
              %th Orin Price


          %tbody
            %tr
              %td
              %td
              %td
              %td
              %td
              %td
              %td


      = f.input :original_price
      = f.input :earning_value
      = f.input :total_price
      = f.input :discount_price
      = f.input :deposit_price
      = f.input :balance
      = f.association :user

  .form-group.row
    .col-sm-4.col-sm-offset-2
      %button.btn.btn-white.btn-sm{type: "submit"} Cancel
      = f.button :submit, class: 'btn btn-primary btn-sm'

= render 'form_customer'
