.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Listing invoices
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.close-link
              %i.fa.fa-times
          = link_to new_admins_invoice_path, class: 'btn btn-primary btn-outline' do
            %i.fa.fa-plus
            New Invoice
        .ibox-content
          .table-responsive
            %table.table.table-striped.table-bordered.table-hover.dataTables-users
              %thead
                %tr
                  %th Reference number
                  %th Original price
                  %th Earning value
                  %th Total price
                  %th Discount price
                  %th Deposit price
                  %th Balance
                  %th User
                  %th Customer
                  %th
                  %th
                  %th

              %tbody
                - @invoices.each do |invoice|
                  %tr
                    %td= invoice.reference_number
                    %td= invoice.original_price
                    %td= invoice.earning_value
                    %td= invoice.total_price
                    %td= invoice.discount_price
                    %td= invoice.deposit_price
                    %td= invoice.balance
                    %td= invoice.user.full_name
                    %td= invoice.customer.name
                    %td= link_to 'Show', admins_invoice_path(invoice)
                    %td= link_to 'Edit', edit_admins_invoice_path(invoice)
                    %td= link_to 'Destroy', admins_invoice_path(invoice), method: :delete, data: { confirm: 'Are you sure?' }

