wrapper.wrapper-content.animated.fadeInRight
  .row.m-b-lg.m-t-lg
    .col-md-6
      .profile-image
        = image_tag 'garage.png', class: 'rounded-circle circle-border m-b-md'
      .profile-info
        %div
          %div
            %h2.no-margins
              %p
                %b Reference number:
                = @invoice.reference_number
            %h4 Founder of Groupeq
            %small
              There are many variations of passages of Lorem Ipsum available, but the majority
              have suffered alteration in some form Ipsum available.
    .col-md-12
      %p
        %b Original price:
        = @invoice.original_price
      %p
        %b Earning value:
        = @invoice.earning_value
      %p
        %b Total price:
        = @invoice.total_price
      %p
        %b Discount price:
        = @invoice.discount_price
      %p
        %b Deposit price:
        = @invoice.deposit_price
      %p
        %b Balance:
        = @invoice.balance
      %p
        %b User:
        = @invoice.user
      %p
        %b Customer:
        = @invoice.customer

      = link_to 'Edit', edit_admins_invoice_path(@invoice)
      \|
      = link_to 'Back', admins_invoices_path
