.middle-box.text-center.loginscreen.animated.fadeInDown
  = devise_error_messages!
  %div
    / %div
    /   %h1.logo-name IN+
    %h3= t(".resend_unlock_instructions")
    %p Login in. To see it in action.
    = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'm-t' }) do |f|
      = f.error_notification
      = f.full_error :unlock_token
      .form-group
        = f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: { autocomplete: "email", class: 'form-control' }

      = f.button :submit, I18n.t("devise.unlocks.new.resend_unlock_instructions"), class: 'btn btn-primary block full-width m-b'
      = render "devise/shared/links"
    %p.m-t
      %small School Attendant System is built for managing the Student Activities. @2019
