= simple_form_for [:admins, @user], wrapper: :horizontal_form,  html: { novalidate: false, class: 'form-horizontal needs-validation form-group' } do |f|
  .row
    .col-xs-12.col-md-6
      = f.input :family_name_kh, autofocus: true, label: t('.family_name_kh')
      = f.input :given_name_kh, label: t('.given_name_kh'), class: 'form-control'
      = f.input :family_name, label: t('.family_name')
      = f.input :given_name, label: t('.given_name')
      = f.input :email, label: t('.email')
      = f.input :password, label: t('.password')
      = f.input :password_confirm, label: t('.password_confirm')
      = f.input :role, collection: User::ROLES.map{ |role| [role.titleize, role] }, required: true, label: t('.role')
      = f.input :title, label: t('.title')
      = f.input :phone_number, label: t('.phone')
      =# f.association :organization, label: t('.organization')
  .hr-line-dashed
  .form-group.row
    .col-sm-4.col-sm-offset-2
      %button.btn.btn-white.btn-sm{:type => "submit"} Cancel
      = f.button :submit, class: 'btn btn-primary btn-sm'

