.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Users
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.close-link
              %i.fa.fa-times
          = link_to new_admins_user_path, class: 'btn btn-primary btn-outline' do
            %i.fa.fa-plus
            Add new user
        .ibox-content
          .table-responsive
            %table.table.table-striped.table-bordered.table-hover.dataTables-users
              %thead
                %tr
                  %th ID
                  %th Name
                  %th Email
                  %th Role
                  %th Organization
                  %th Phone
                  %th Action
              %tbody
                - @users.each do |user|
                  %tr
                    %td= user.id
                    %td= user.full_name
                    %td= user.email
                    %td= user.role
                    %td= ''
                    %td= user.phone_number
                    %td
                      %ul.list-inline
                        %li.list-inline-item
                          = link_to admins_user_path(user), class: 'btn btn-outline btn-primary' do
                            %i.fa.fa-eye
                        %li.list-inline-item
                          = link_to edit_admins_user_path(user), class: 'btn btn-outline btn-primary' do
                            %i.fa.fa-edit
                        %li.list-inline-item
                          = link_to admins_user_path(user), class: 'btn btn-outline btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do
                            %i.fa.fa-trash

