.wrapper.wrapper-content.animated.fadeInRight
  .row.m-b-lg.m-t-lg
    .col-md-6
      .profile-image
        %img.rounded-circle.circle-border.m-b-md{:alt => "profile", :src => "img/a4.jpg"}/
      .profile-info
        %div
          %div
            %h2.no-margins
              = @user.full_name
            %h4 Founder of Groupeq
            %small
              There are many variations of passages of Lorem Ipsum available, but the majority
              have suffered alteration in some form Ipsum available.
    .col-md-3
      %table.table.small.m-b-xs
        %tbody
          %tr
            %td
              %strong 142
              Projects
            %td
              %strong 22
              Followers
          %tr
            %td
              %strong 61
              Comments
            %td
              %strong 54
              Articles
          %tr
            %td
              %strong 154
              Tags
            %td
              %strong 32
              Friends
    .col-md-3
      %small Sales in last 24h
      %h2.no-margins 206 480
      #sparkline1
  .row
    .col-lg-3
      .ibox
        .ibox-content
          %h3 About Alex Smith
          %p.small
            There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour, or randomised words which don't.
            %br/
            %br/
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing
          %p.small.font-bold
            %span
              %i.fa.fa-circle.text-navy
              Online status
      .ibox
        .ibox-content
          %h3 Followers and friends
          %p.small
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
            anything embarrassing
          .user-friends
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a3.jpg"}/
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a1.jpg"}/
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a2.jpg"}/
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a4.jpg"}/
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a5.jpg"}/
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a6.jpg"}/
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a7.jpg"}/
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a8.jpg"}/
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a2.jpg"}/
            %a{:href => "profile_2.html"}
              %img.rounded-circle{:alt => "image", :src => "img/a1.jpg"}/
      .ibox
        .ibox-content
          %h3 Personal friends
          %ul.list-unstyled.file-list
            %li
              %a{:href => "profile_2.html"}
                %i.fa.fa-file
                Project_document.docx
            %li
              %a{:href => "profile_2.html"}
                %i.fa.fa-file-picture-o
                Logo_zender_company.jpg
            %li
              %a{:href => "profile_2.html"}
                %i.fa.fa-stack-exchange
                Email_from_Alex.mln
            %li
              %a{:href => "profile_2.html"}
                %i.fa.fa-file
                Contract_20_11_2014.docx
            %li
              %a{:href => "profile_2.html"}
                %i.fa.fa-file-powerpoint-o
                Presentation.pptx
            %li
              %a{:href => "profile_2.html"}
                %i.fa.fa-file
                10_08_2015.docx
      .ibox
        .ibox-content
          %h3 Private message
          %p.small
            Send private message to Alex Smith
          .form-group
            %label Subject
            %input.form-control{:placeholder => "Message subject", :type => "email"}/
          .form-group
            %label Message
            %textarea.form-control{:placeholder => "Your message", :rows => "3"}
          %button.btn.btn-primary.btn-block Send
    .col-lg-5
      .social-feed-box
        .float-right.social-action.dropdown
          %button.dropdown-toggle.btn-white{"data-toggle" => "dropdown"}
            %i.fa.fa-angle-down
          %ul.dropdown-menu.m-t-xs
            %li
              %a{:href => "profile_2.html#"} Config
        .social-avatar
          %a.float-left{:href => "profile_2.html"}
            %img{:alt => "image", :src => "img/a1.jpg"}/
          .media-body
            %a{:href => "profile_2.html#"}
              Andrew Williams
            %small.text-muted Today 4:21 pm - 12.06.2014
        .social-body
          %p
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
          .btn-group
            %button.btn.btn-white.btn-xs
              %i.fa.fa-thumbs-up
              Like this!
            %button.btn.btn-white.btn-xs
              %i.fa.fa-comments
              Comment
            %button.btn.btn-white.btn-xs
              %i.fa.fa-share
              Share
        .social-footer
          .social-comment
            %a.float-left{:href => "profile_2.html"}
              %img{:alt => "image", :src => "img/a1.jpg"}/
            .media-body
              %a{:href => "profile_2.html#"}
                Andrew Williams
              Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
              %br/
              %a.small{:href => "profile_2.html#"}
                %i.fa.fa-thumbs-up
                26 Like this!
              \-
              %small.text-muted 12.06.2014
          .social-comment
            %a.float-left{:href => "profile_2.html"}
              %img{:alt => "image", :src => "img/a2.jpg"}/
            .media-body
              %a{:href => "profile_2.html#"}
                Andrew Williams
              Making this the first true generator on the Internet. It uses a dictionary of.
              %br/
              %a.small{:href => "profile_2.html#"}
                %i.fa.fa-thumbs-up
                11 Like this!
              \-
              %small.text-muted 10.07.2014
          .social-comment
            %a.float-left{:href => "profile_2.html"}
              %img{:alt => "image", :src => "img/a3.jpg"}/
            .media-body
              %textarea.form-control{:placeholder => "Write comment..."}
      .social-feed-box
        .float-right.social-action.dropdown
          %button.dropdown-toggle.btn-white{"data-toggle" => "dropdown"}
            %i.fa.fa-angle-down
          %ul.dropdown-menu.m-t-xs
            %li
              %a{:href => "profile_2.html#"} Config
        .social-avatar
          %a.float-left{:href => "profile_2.html"}
            %img{:alt => "image", :src => "img/a6.jpg"}/
          .media-body
            %a{:href => "profile_2.html#"}
              Andrew Williams
            %small.text-muted Today 4:21 pm - 12.06.2014
        .social-body
          %p
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
          %p
            Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
          %img.img-fluid{:src => "img/gallery/3.jpg"}/
          .btn-group
            %button.btn.btn-white.btn-xs
              %i.fa.fa-thumbs-up
              Like this!
            %button.btn.btn-white.btn-xs
              %i.fa.fa-comments
              Comment
            %button.btn.btn-white.btn-xs
              %i.fa.fa-share
              Share
        .social-footer
          .social-comment
            %a.float-left{:href => "profile_2.html"}
              %img{:alt => "image", :src => "img/a1.jpg"}/
            .media-body
              %a{:href => "profile_2.html#"}
                Andrew Williams
              Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
              %br/
              %a.small{:href => "profile_2.html#"}
                %i.fa.fa-thumbs-up
                26 Like this!
              \-
              %small.text-muted 12.06.2014
          .social-comment
            %a.float-left{:href => "profile_2.html"}
              %img{:alt => "image", :src => "img/a2.jpg"}/
            .media-body
              %a{:href => "profile_2.html#"}
                Andrew Williams
              Making this the first true generator on the Internet. It uses a dictionary of.
              %br/
              %a.small{:href => "profile_2.html#"}
                %i.fa.fa-thumbs-up
                11 Like this!
              \-
              %small.text-muted 10.07.2014
          .social-comment
            %a.float-left{:href => "profile_2.html"}
              %img{:alt => "image", :src => "img/a8.jpg"}/
            .media-body
              %a{:href => "profile_2.html#"}
                Andrew Williams
              Making this the first true generator on the Internet. It uses a dictionary of.
              %br/
              %a.small{:href => "profile_2.html#"}
                %i.fa.fa-thumbs-up
                11 Like this!
              \-
              %small.text-muted 10.07.2014
          .social-comment
            %a.float-left{:href => "profile_2.html"}
              %img{:alt => "image", :src => "img/a3.jpg"}/
            .media-body
              %textarea.form-control{:placeholder => "Write comment..."}
    .col-lg-4.m-b-lg
      #vertical-timeline.vertical-container.light-timeline.no-margins
        .vertical-timeline-block
          .vertical-timeline-icon.navy-bg
            %i.fa.fa-briefcase
          .vertical-timeline-content
            %h2 Meeting
            %p
              Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
            %a.btn.btn-sm.btn-primary{:href => "profile_2.html#"} More info
            %span.vertical-date
              Today
              %br/
              %small Dec 24
        .vertical-timeline-block
          .vertical-timeline-icon.blue-bg
            %i.fa.fa-file-text
          .vertical-timeline-content
            %h2 Send documents to Mike
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
            %a.btn.btn-sm.btn-success{:href => "profile_2.html#"} Download document
            %span.vertical-date
              Today
              %br/
              %small Dec 24
        .vertical-timeline-block
          .vertical-timeline-icon.lazur-bg
            %i.fa.fa-coffee
          .vertical-timeline-content
            %h2 Coffee Break
            %p Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
            %a.btn.btn-sm.btn-info{:href => "profile_2.html#"} Read more
            %span.vertical-date
              Yesterday
              %br/
              %small Dec 23
        .vertical-timeline-block
          .vertical-timeline-icon.yellow-bg
            %i.fa.fa-phone
          .vertical-timeline-content
            %h2 Phone with Jeronimo
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
            %span.vertical-date
              Yesterday
              %br/
              %small Dec 23
        .vertical-timeline-block
          .vertical-timeline-icon.navy-bg
            %i.fa.fa-comments
          .vertical-timeline-content
            %h2 Chat with Monica and Sandra
            %p Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            %span.vertical-date
              Yesterday
              %br/
              %small Dec 23
