.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Listing customers
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.close-link
              %i.fa.fa-times
          = link_to new_admins_customer_path, class: 'btn btn-primary btn-outline' do
            %i.fa.fa-plus
            New Customer
        .ibox-content
          .table-responsive
            %table.table.table-striped.table-bordered.table-hover.dataTables-users
              %thead
                %tr
                  %th Name
                  %th Compay
                  %th Address
                  %th Email
                  %th Phone1
                  %th Phone2
                  %th Action

              %tbody
                - @customers.each do |customer|
                  %tr
                    %td= customer.name
                    %td= customer.compay
                    %td= customer.address
                    %td= customer.email
                    %td= customer.phone1
                    %td= customer.phone2
                    %td
                      %ul.list-inline
                        %li.list-inline-item
                          = link_to admins_customer_path(customer), class: 'btn btn-outline btn-primary' do
                            %i.fa.fa-eye
                        %li.list-inline-item
                          = link_to edit_admins_customer_path(customer), class: 'btn btn-outline btn-primary' do
                            %i.fa.fa-edit
                        %li.list-inline-item
                          = link_to admins_customer_path(customer), class: 'btn btn-outline btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do
                            %i.fa.fa-trash

