.wrapper.wrapper-content.animated.fadeInRight
  .row.m-b-lg.m-t-lg
    .col-md-6
      .profile-image
        = image_tag 'a4.jpg', class: 'rounded-circle circle-border m-b-md'
      .profile-info
        %div
          %div
            %h2.no-margins
              = @customer.name
            %h4 Customer Address
            %small
              = @customer.address
    .col-md-3
      %table.table.small.m-b-xs
        %tbody
          %tr
            %td
              %strong Compay:
              = @customer.compay
            %td
              %strong Email:
              = @customer.email
          %tr
            %td
              %strong Phone1:
              = @customer.phone1
            %td
              %strong Phone2:
              = @customer.phone2

    .col-md-3
      %small Sales in last 24h
      %h2.no-margins 206 480
      #sparkline1

  .row
    .col-lg-12
      .ibox.product-detail
        .ibox-content
          .row
            .col-md-5
              .product-images
                %div
                  .image-imitation
                    [IMAGE 1]
                %div
                  .image-imitation
                    [IMAGE 2]
                %div
                  .image-imitation
                    [IMAGE 3]
            .col-md-7
              %h2.font-bold.m-b-xs
                Desktop publishing software
              %small Many desktop publishing packages and web page editors now.
              .m-t-md
                %h2.product-main-price
                  $406,602
                  %small.text-muted Exclude Tax
              %hr/
              %h4 Product description
              .small.text-muted
                It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. The point of using Lorem Ipsum is
                %br/
                %br/
                There are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected humour, or randomised words
                which don't look even slightly believable.
              %dl.small.m-t-md
                %dt Description lists
                %dd A description list is perfect for defining terms.
                %dt Euismod
                %dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                %dd Donec id elit non mi porta gravida at eget metus.
                %dt Malesuada porta
                %dd Etiam porta sem malesuada magna mollis euismod.
              %hr/
              %div
                .btn-group
                  %button.btn.btn-primary.btn-sm
                    %i.fa.fa-cart-plus
                    Add to cart
                  %button.btn.btn-white.btn-sm
                    %i.fa.fa-star
                    Add to wishlist
                  %button.btn.btn-white.btn-sm
                    %i.fa.fa-envelope
                    Contact with author
        .ibox-footer
          %span.float-right
            Full stock -
            %i.fa.fa-clock-o
            14.04.2016 10:04 pm
          The generated Lorem Ipsum is therefore always free
