body[id='invoices-new'], body[id='invoices-create'], body[id='invoices-edit'], body[id='invoices-update'] {
  .span3 {
    height: 300px !important;
    overflow: scroll;
    border: 1px solid #333333;
  }
  #form-customer {
    .modal-dialog.modal-lg {
      max-width: 80%;
    }

  }
}
