.middle-box.text-center.loginscreen.animated.fadeInDown
  = devise_error_messages!
  %div
    / %div
    /   %h1.logo-name IN+
    %h3= t(".change_your_password")
    %p
      Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      / Continually expanded and constantly improved Inspinia Admin Them (IN+)
    %p Please Enter your password and confirm it.
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'm-t',  method: :post }) do |f|
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
      .form-group
        = f.input :password, label: false, placeholder: t(".new_password"), required: true, autofocus: true, hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length), input_html: { autocomplete: "new-password", class: 'form-control' }
      .form-group
        = f.input :password_confirmation, label: false, placeholder: t(".confirm_new_password"), required: true, input_html: { class: 'form-control' }

      = f.button :submit, t(".change_my_password"), class: 'btn btn-primary block full-width m-b'
      = render "admins/shared/links"
    %p.m-t
      %small School Attendant System is built for managing the Student Activities. @2019
