.middle-box.text-center.loginscreen.animated.fadeInDown
  = devise_error_messages!
  %div
    / %div
    /   %h1.logo-name IN+
    %h3= t(".forgot_your_password")
    %p Please Enter your email to reset your password.
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'm-t' }) do |f|
      = f.error_notification
      .form-group
        = f.input :email, required: true, autofocus: true, placeholder: "Email", label: false, input_html: { autocomplete: "email", class: 'form-control' }
      .form-actions
        = f.button :submit, I18n.t("devise.passwords.send_me_reset_password_instructions"), class: 'btn btn-primary block full-width m-b'
    = render "users/shared/links"
