.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Layouts
    %ol.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li.active
        %strong Layouts
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content.text-center.p-md
          %h2
            %span.text-navy INSPINIA - Responsive Admin Theme
            is provided with two main layouts
            = succeed "three" do
              %br/
          %p
            All config options you can trun on/off from the theme box configuration (green icon on the left side of page).
  .row
    .col-lg-6
      .ibox.float-e-margins
        .ibox-content.text-center.p-md
          %h4.m-b-xxs
            Top navigation, centered content layout
            %span.label.label-primary NEW
          %small (optional layout)
          %p Available configure options
          %span.simple_tag Scroll navbar
          %span.simple_tag Top fixed navbar
          %span.simple_tag Boxed layout
          %span.simple_tag Scroll footer
          %span.simple_tag Fixed footer
          .m-t-md
            %p Check the Dashboard v.4 with top navigation layout
            .p-lg
              %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_4'}"}
                %img.img-fluid.img-shadow{:alt => "", :src => "#{image_url 'dashboard4_2.jpg'}"}/
    .col-lg-6
      .ibox.float-e-margins
        .ibox-content.text-center.p-md
          %h4.m-b-xxs Basic left side navigation layout
          %small (main layout)
          %p Available configure options
          %span.simple_tag Collapse menu
          %span.simple_tag Fixed sidebar
          %span.simple_tag Scroll navbar
          %span.simple_tag Top fixed navbar
          %span.simple_tag Boxed layout
          %span.simple_tag Scroll footer
          %span.simple_tag Fixed footer
          .m-t-md
            %p Check the Dashboard v.4 with basic layout
            .p-lg
              %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_4_1'}"}
                %img.img-fluid.img-shadow{:alt => "", :src => "#{image_url 'dashboard4_1.jpg'}"}/
  .row
    .col-lg-6
      .ibox.float-e-margins
        .ibox-content.text-center.p-md
          %h4.m-b-xxs
            Full height - Outlook view
            %span.label.label-primary NEW
          %small (optional layout)
          %p Available configure options
          %span.simple_tag Scroll navbar
          %span.simple_tag Boxed layout
          %span.simple_tag Scroll footer
          %span.simple_tag Fixed footer
          .m-t-md
            %p Check the Outlook view in in full height page
            .p-lg
              %a{:href => "#{url_for :controller => 'appviews', :action => 'outlook_view'}"}
                %img.img-fluid.img-shadow{:alt => "", :src => "#{image_url 'full_height.jpg'}"}/
    .col-lg-6
      .ibox.float-e-margins
        .ibox-content.text-center.p-md
          %h4.m-b-xxs
            Off canvas menu
            %span.label.label-primary NEW
          %small (optional layout)
          %p Available configure options
          %span.simple_tag Collapse menu
          %span.simple_tag Fixed sidebar
          %span.simple_tag Top fixed navbar
          %span.simple_tag Boxed layout
          %span.simple_tag Scroll footer
          %span.simple_tag Fixed footer
          .m-t-md
            %p Check the off canvas menu on example article page
            .p-lg
              %a{:href => "#{url_for :controller => 'layoutsoptions', :action => 'off_canvas'}"}
                %img.img-fluid.img-shadow{:alt => "", :src => "#{image_url 'off_canvas.jpg'}"}/
