@font-face
{
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url(asset-path('slick.eot'));
  src: url(asset-path('slick.eot@')) format('embedded-opentype'), url(asset-path('slick.woff')) format('woff'), url(asset-path('slick.ttf')) format('truetype'), url(asset-path('slick.svg')) format('svg');
}
