.row
  .col-md-8.offset-md-2
    .ibox
      .ibox-title
        %h5= t 'devise.invitations.edit.header'
        .ibox-tools
          %a.collapse-link
            %i.fa.fa-chevron-up

          %a.close-link
            %i.fa.fa-times

      .ibox-content
        = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: 'm-t' } do |f|
          = devise_error_messages!
          = f.input :skip_en_name_validation, as: :hidden, input_html: { value: true }
          %p Sign in today for more expirience.
          .form-group.row
            %label.col-lg-2.col-form-label=  t(".password")
            .col-lg-10
              = f.hidden_field :invitation_token
              = f.input :password, label: false
          .form-group.row
            %label.col-lg-2.col-form-label= t(".password_confirmation")
            .col-lg-10
              = f.input :password_confirmation, label: false

          .form-group.row.text-right
            .col-lg-12
              = f.button :submit, t("devise.invitations.edit.submit_button"), class: 'btn btn-primary'
