.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2= controller_name.titleize
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Home', root_path
      %li.breadcrumb-item
        = link_to action_name.titleize, '#'
      %li.breadcrumb-item.active
        %strong= controller_name.titleize
  .col-lg-2
