- flash.each do |key, value|
  .alert.alert-dismissible.fade.show{ role: "alert", class: "alert-#{key}" }
    %strong= "#{key.titleize}!"
    = value
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
