%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          = image_tag 'garage.png', class: 'img-fluid img-circle'
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "index.html#"}
            %span.block.m-t-xs.font-bold David Williams
            %span.text-muted.text-xs.block
              Art Director
              %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              %a.dropdown-item{:href => "profile.html"} Profile
            %li
              %a.dropdown-item{:href => "contacts.html"} Contacts
            %li
              %a.dropdown-item{:href => "mailbox.html"} Mailbox
            %li.dropdown-divider
            %li
              %a.dropdown-item{:href => "login.html"} Logout
        .logo-element
          IN+
      %li{ :class => "#{is_active_controller('dashboards')}" }
        %a{:href => ""}
          %i.fa.fa-th-large
          %span.nav-label{"data-i18n" => "nav.dashboard"} Dashboards
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{:class => "#{is_active_action('dashboard_1')}"}= link_to "Dashboard v.1", root_path
          %li{:class => "#{is_active_action('dashboard_2')}"}
            = link_to "Dashboard v.2", dashboard_path
      %li{ :class => "#{is_active_controller('users')}" }
        = link_to admins_users_path do
          %i.fa.fa-user
          %span.nav-label{"data-i18n" => "nav.dashboard"} Users
      %li{ :class => "#{is_active_controller('customers')}" }
        %a{:href => ""}
          %i.fa.fa-car
          %span.nav-label{"data-i18n" => "nav.dashboard"} Manage Products
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{:class => "#{is_active_action('customers')}"}
            = link_to 'Products', admins_customers_path

      %li{ :class => "#{is_active_controller('customers')}" }
        %a{:href => ""}
          %i.fa.fa-gear
          %span.nav-label{"data-i18n" => "nav.dashboard"} Manage Customers
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{:class => "#{is_active_action('customers')}"}
            = link_to 'Customers', admins_customers_path
          %li{:class => "#{is_active_action('car_models')}"}
            = link_to "Car models", admins_car_models_path
          %li{:class => "#{is_active_action('vehicles')}"}
            = link_to "Vehicles", admins_vehicles_path
      %li{ :class => "#{is_active_controller('customers')}" }
        %a{:href => ""}
          %i.fa.fa-database
          %span.nav-label{"data-i18n" => "nav.dashboard"} Finance
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li{:class => "#{is_active_action('invoices')}"}
            = link_to 'Invoices', admins_invoices_path

