#right-sidebar.animated
  .sidebar-container
    %ul.nav.nav-tabs.navs-3
      %li
        %a.nav-link.active{"data-toggle" => "tab", :href => "index.html#tab-1"} Notes
      %li
        %a.nav-link{"data-toggle" => "tab", :href => "index.html#tab-2"} Projects
      %li
        %a.nav-link{"data-toggle" => "tab", :href => "index.html#tab-3"}
          %i.fa.fa-gear
    .tab-content
      #tab-1.tab-pane.active
        .sidebar-title
          %h3
            %i.fa.fa-comments-o
            Latest Notes
          %small
            %i.fa.fa-tim
            You have 10 new message.
        %div
          .sidebar-message
            %a{:href => "index.html#"}
              .float-left.text-center
                = image_tag 'a1.jpg', class: 'rounded-circle message-avatar'
                .m-t-xs
                  %i.fa.fa-star.text-warning
                  %i.fa.fa-star.text-warning
              .media-body
                There are many variations of passages of Lorem Ipsum available.
                %br/
                %small.text-muted Today 4:21 pm
          .sidebar-message
            %a{:href => "index.html#"}
              .float-left.text-center
                = image_tag 'a2.jpg', class: 'rounded-circle message-avatar'
              .media-body
                The point of using Lorem Ipsum is that it has a more-or-less normal.
                %br/
                %small.text-muted Yesterday 2:45 pm
          .sidebar-message
            %a{:href => "index.html#"}
              .float-left.text-center
                = image_tag 'a3.jpg', class: 'rounded-circle message-avatar'
                .m-t-xs
                  %i.fa.fa-star.text-warning
                  %i.fa.fa-star.text-warning
                  %i.fa.fa-star.text-warning
              .media-body
                Mevolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                %br/
                %small.text-muted Yesterday 1:10 pm
          .sidebar-message
            %a{:href => "index.html#"}
              .float-left.text-center
                = image_tag 'a4.jpg', class: 'rounded-circle message-avatar'
              .media-body
                Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                %br/
                %small.text-muted Monday 8:37 pm
          .sidebar-message
            %a{:href => "index.html#"}
              .float-left.text-center
                = image_tag 'a8.jpg', class: 'rounded-circle message-avatar'
              .media-body
                All the Lorem Ipsum generators on the Internet tend to repeat.
                %br/
                %small.text-muted Today 4:21 pm
          .sidebar-message
            %a{:href => "index.html#"}
              .float-left.text-center
                = image_tag 'a7.jpg', class: 'rounded-circle message-avatar'
              .media-body
                Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                %br/
                %small.text-muted Yesterday 2:45 pm
          .sidebar-message
            %a{:href => "index.html#"}
              .float-left.text-center
                = image_tag 'a3.jpg', class: 'rounded-circle message-avatar'
                .m-t-xs
                  %i.fa.fa-star.text-warning
                  %i.fa.fa-star.text-warning
                  %i.fa.fa-star.text-warning
              .media-body
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
                %br/
                %small.text-muted Yesterday 1:10 pm
          .sidebar-message
            %a{:href => "index.html#"}
              .float-left.text-center
                = image_tag 'a4.jpg', class: 'rounded-circle message-avatar'
              .media-body
                Uncover many web sites still in their infancy. Various versions have.
                %br/
                %small.text-muted Monday 8:37 pm
      #tab-2.tab-pane
        .sidebar-title
          %h3
            %i.fa.fa-cube
            Latest projects
          %small
            %i.fa.fa-tim
            You have 14 projects. 10 not completed.
        %ul.sidebar-list
          %li
            %a{:href => "index.html#"}
              .small.float-right.m-t-xs 9 hours ago
              %h4 Business valuation
              It is a long established fact that a reader will be distracted.
              .small Completion with: 22%
              .progress.progress-mini
                .progress-bar.progress-bar-warning{:style => "width: 22%;"}
              .small.text-muted.m-t-xs Project end: 4:00 pm - 12.06.2014
          %li
            %a{:href => "index.html#"}
              .small.float-right.m-t-xs 9 hours ago
              %h4 Contract with Company
              Many desktop publishing packages and web page editors.
              .small Completion with: 48%
              .progress.progress-mini
                .progress-bar{:style => "width: 48%;"}
          %li
            %a{:href => "index.html#"}
              .small.float-right.m-t-xs 9 hours ago
              %h4 Meeting
              By the readable content of a page when looking at its layout.
              .small Completion with: 14%
              .progress.progress-mini
                .progress-bar.progress-bar-info{:style => "width: 14%;"}
          %li
            %a{:href => "index.html#"}
              %span.label.label-primary.float-right NEW
              %h4 The generated
              There are many variations of passages of Lorem Ipsum available.
              .small Completion with: 22%
              .small.text-muted.m-t-xs Project end: 4:00 pm - 12.06.2014
          %li
            %a{:href => "index.html#"}
              .small.float-right.m-t-xs 9 hours ago
              %h4 Business valuation
              It is a long established fact that a reader will be distracted.
              .small Completion with: 22%
              .progress.progress-mini
                .progress-bar.progress-bar-warning{:style => "width: 22%;"}
              .small.text-muted.m-t-xs Project end: 4:00 pm - 12.06.2014
          %li
            %a{:href => "index.html#"}
              .small.float-right.m-t-xs 9 hours ago
              %h4 Contract with Company
              Many desktop publishing packages and web page editors.
              .small Completion with: 48%
              .progress.progress-mini
                .progress-bar{:style => "width: 48%;"}
          %li
            %a{:href => "index.html#"}
              .small.float-right.m-t-xs 9 hours ago
              %h4 Meeting
              By the readable content of a page when looking at its layout.
              .small Completion with: 14%
              .progress.progress-mini
                .progress-bar.progress-bar-info{:style => "width: 14%;"}
          %li
            %a{:href => "index.html#"}
              %span.label.label-primary.float-right NEW
              %h4 The generated
              / <div class="small float-right m-t-xs">9 hours ago</div>
              There are many variations of passages of Lorem Ipsum available.
              .small Completion with: 22%
              .small.text-muted.m-t-xs Project end: 4:00 pm - 12.06.2014
      #tab-3.tab-pane
        .sidebar-title
          %h3
            %i.fa.fa-gears
            Settings
          %small
            %i.fa.fa-tim
            You have 14 projects. 10 not completed.
        .setings-item
          %span
            Show notifications
          .switch
            .onoffswitch
              %input#example.onoffswitch-checkbox{:name => "collapsemenu", :type => "checkbox"}/
              %label.onoffswitch-label{:for => "example"}
                %span.onoffswitch-inner
                %span.onoffswitch-switch
        .setings-item
          %span
            Disable Chat
          .switch
            .onoffswitch
              %input#example2.onoffswitch-checkbox{:checked => "checked", :name => "collapsemenu", :type => "checkbox"}/
              %label.onoffswitch-label{:for => "example2"}
                %span.onoffswitch-inner
                %span.onoffswitch-switch
        .setings-item
          %span
            Enable history
          .switch
            .onoffswitch
              %input#example3.onoffswitch-checkbox{:name => "collapsemenu", :type => "checkbox"}/
              %label.onoffswitch-label{:for => "example3"}
                %span.onoffswitch-inner
                %span.onoffswitch-switch
        .setings-item
          %span
            Show charts
          .switch
            .onoffswitch
              %input#example4.onoffswitch-checkbox{:name => "collapsemenu", :type => "checkbox"}/
              %label.onoffswitch-label{:for => "example4"}
                %span.onoffswitch-inner
                %span.onoffswitch-switch
        .setings-item
          %span
            Offline users
          .switch
            .onoffswitch
              %input#example5.onoffswitch-checkbox{:checked => "checked", :name => "collapsemenu", :type => "checkbox"}/
              %label.onoffswitch-label{:for => "example5"}
                %span.onoffswitch-inner
                %span.onoffswitch-switch
        .setings-item
          %span
            Global search
          .switch
            .onoffswitch
              %input#example6.onoffswitch-checkbox{:checked => "checked", :name => "collapsemenu", :type => "checkbox"}/
              %label.onoffswitch-label{:for => "example6"}
                %span.onoffswitch-inner
                %span.onoffswitch-switch
        .setings-item
          %span
            Update everyday
          .switch
            .onoffswitch
              %input#example7.onoffswitch-checkbox{:name => "collapsemenu", :type => "checkbox"}/
              %label.onoffswitch-label{:for => "example7"}
                %span.onoffswitch-inner
                %span.onoffswitch-switch
        .sidebar-content
          %h4 Settings
          .small
            I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
