.row.border-bottom
  %nav.navbar.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
    .navbar-header
      %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary{:href => "index.html#"}
        %i.fa.fa-bars
      %form.navbar-form-custom{:action => "search_results.html", :role => "search"}
        .form-group
          %input#top-search.form-control{:name => "top-search", :placeholder => "Search for something...", :type => "text"}/
    %ul.nav.navbar-top-links.navbar-right
      %li{:style => "padding: 20px"}
        %span.m-r-sm.text-muted.welcome-message Welcome to School Attendance System.
      %li.dropdown
        %a.dropdown-toggle.count-info{"data-toggle" => "dropdown", :href => "index.html#"}
          %i.fa.fa-envelope
          %span.label.label-warning 16
        %ul.dropdown-menu.dropdown-messages.dropdown-menu-right
          %li
            .dropdown-messages-box
              %a.dropdown-item.float-left{:href => "profile.html"}
              = image_tag 'a7.jpg', class: 'rounded-circle'
              .media-body
                %small.float-right 46h ago
                %strong Mike Loreipsum
                started following
                = succeed "." do
                  %strong Monica Smith
                %br/
                %small.text-muted 3 days ago at 7:58 pm - 10.06.2014
          %li.dropdown-divider
          %li
            .dropdown-messages-box
              %a.dropdown-item.float-left{:href => "profile.html"}
              = image_tag 'a4.jpg', class: 'rounded-circle'
              .media-body
                %small.float-right.text-navy 5h ago
                %strong Chris Johnatan Overtunk
                started following
                = succeed "." do
                  %strong Monica Smith
                %br/
                %small.text-muted Yesterday 1:21 pm - 11.06.2014
          %li.dropdown-divider
          %li
            .dropdown-messages-box
              %a.dropdown-item.float-left{:href => "profile.html"}
              = image_tag 'profile.jpg', class: 'rounded-circle'
              .media-body
                %small.float-right 23h ago
                %strong Monica Smith
                love
                = succeed "." do
                  %strong Kim Smith
                %br/
                %small.text-muted 2 days ago at 2:30 am - 11.06.2014
          %li.dropdown-divider
          %li
            .text-center.link-block
              %a.dropdown-item{:href => "mailbox.html"}
                %i.fa.fa-envelope
                %strong Read All Messages
      %li.dropdown
        %a.dropdown-toggle.count-info{"data-toggle" => "dropdown", :href => "index.html#"}
          %i.fa.fa-bell
          %span.label.label-primary 8
        %ul.dropdown-menu.dropdown-alerts
          %li
            %a.dropdown-item{:href => "mailbox.html"}
              %div
                %i.fa.fa-envelope.fa-fw
                You have 16 messages
                %span.float-right.text-muted.small 4 minutes ago
          %li.dropdown-divider
          %li
            %a.dropdown-item{:href => "profile.html"}
              %div
                %i.fa.fa-twitter.fa-fw
                3 New Followers
                %span.float-right.text-muted.small 12 minutes ago
          %li.dropdown-divider
          %li
            %a.dropdown-item{:href => "grid_options.html"}
              %div
                %i.fa.fa-upload.fa-fw
                Server Rebooted
                %span.float-right.text-muted.small 4 minutes ago
          %li.dropdown-divider
          %li
            .text-center.link-block
              %a.dropdown-item{:href => "notifications.html"}
                %strong See All Alerts
                %i.fa.fa-angle-right
      %li
        - if admin_signed_in?
          = link_to destroy_admin_session_path, method: :delete do
            %i.fa.fa-sign-out
            = t('.logout')
        - else
          = link_to destroy_user_session_path, method: :delete do
            %i.fa.fa-sign-out
            = t('.logout')

      %li
        %a.right-sidebar-toggle
          %i.fa.fa-tasks
