!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title អគ្គនាយកដ្ឋានកីឡា - ប្រព័ន្ធចុះឈ្មោះសំរាប់ការប្រកួត
    = csrf_meta_tags
    = csp_meta_tag
    / Include style per-controller - vendor plugins
    / Include style per-controller - vendor plugins
    / Main css styles
    %meta{:content => "no-cache", :name => "turbolinks-cache-control"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if ['index', 'show'].include?(action_name)
      = stylesheet_link_tag "#{params[:controller]}/#{action_name}" if stylesheet_exists?(params[:controller])
    - else
      = stylesheet_link_tag "#{params[:controller]}/form" if stylesheet_exists?(params[:controller])
    / Main javascript files
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.md-skin{ id: "#{controller_name}-#{action_name}", class: minit_side_bar? && 'mini-navbar' }
    / Wrapper
    #wrapper{ class: "#{params[:controller]}-#{params[:action]}", data: flash_alert }
      / Navigation
      = render 'layouts/navigation'
      / Page wraper
      #page-wrapper{ class: "gray-bg #{@extra_class}" }
        / Page wrapper
        = render 'layouts/topnavbar'
        / breadcrumb
        = render 'layouts/breadcrumb' unless minit_side_bar?
        / Alert
        =# render 'layouts/messages'
        / Main view
        = yield
        / Footer
        = render 'layouts/footer'
      / End page wrapper
      / Right sidebar
      = render 'layouts/rightsidebar'
    / End wrapper
    / Include javascript per-controller - vendor plugins
    - if ['index', 'show'].include?(action_name)
      = javascript_include_tag "#{params[:controller]}/#{action_name}" if javascript_exists?(params[:controller])
    - else
      = javascript_include_tag "#{params[:controller]}/form" if javascript_exists?(params[:controller])
    / Include javascript per-view
    / For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want
    = yield :javascript
