!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title អគ្គនាយកដ្ឋានកីឡា - ប្រព័ន្ធចុះឈ្មោះសំរាប់ការប្រកួត
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body.gray-bg{ id: "#{controller_name}-#{action_name}", data: { flash: flash_alert } }
    .container
      = render 'layouts/messages'
      = yield
    = yield :javascript
